*{
    margin: 0px;
    padding: 0px;
    /* outline: 1px solid red; */
}

ul.scrollable li {
    overflow: auto;
    list-style-position: inside;
 }

#messageErrors{
    color: white;
    background-color: lightcoral;
    border: 1px solid darkgray;
    list-style-position: inside;
}