{% extends "base.html" %} 
{% block title %} User Details {% endblock %} 

{% block content %}
<h4 class="alert alert-warning">Welcome {{request.session.name}}!</h4>
<hr />

<div class="row align-items-stretch">
  <div class="col-md-6">
    <!-- Add Book Form -->

    <form
      class="border border-secondary p-5"
      action="/books/new"
      method="POST"
    >
      {% csrf_token %}
      
      <p class="text-left h4 mb-4">Add a Favorite Book</p>

      <!--  Error messages if there is an error validation -->
      {% if messages %}
          <ul id="messageErrors" class="mb-4 p-3">
            Error Messages: 
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
      {% endif %}

      <!-- Book Title -->
      <label for="defaulBookAddFormTitle">Book Title</label>
      <input
        type="text"
        id="defaulBookAddFormTitle"
        class="form-control mb-4"
        name="book_title"
      />

      <!-- Book Description -->
      <label for="defaulBookAddFormDescription">Book Description</label>
      <textarea
        id="defaulBookAddFormDescription"
        class="form-control"
        name="book_description"
        rows="10"
      ></textarea>

      <!-- Sign up button -->
      <div class="text-right">
        <button class="btn btn-success mt-4" type="submit">Add Book</button>
      </div>
    </form>
  </div>

  <!-- All Books -->
  <div class="col-md-6">
    <div class="border border-secondary p-5">
      <p class="text-left h4 mb-4">All Books</p>
      <div class="overflow-auto p-2" style="height:445px">
        {% for each_book in all_books %}
          <p class="mb-1">
            <a href="/books/{{each_book.id}}">{{each_book.title}}</a>
          </p>
          <p class="small mb-1">
            (added by {{each_book.uploaded_by.first_name}}
            {{each_book.uploaded_by.last_name}})
          </p>
          {% if each_book in books_liked_by_current_user %}
            <p class="small"><i>This is one of your favorites</i></p>
          {% else %}
          <p class="small">
            <a href="/books/{{each_book.id}}/add_to_favorites">Add to Favorites</a>
          </p>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
